*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}    

body > header {
    background-color:rgb(5, 62, 80);
    color: rgb(225, 252, 233);
    padding: 12px 0;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: aliceblue;
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2 {
    font-family:sans-serif
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: rgb(35, 104, 4);
    color:white;
    padding: 8px;
    margin-top: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: sans-serif;
    text-align: justify;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: rgba(35, 104, 4, 0.2);
}

#sports .articles article a {
    background-color: rgb(35, 104, 4);
}

#economy {
    background-color: rgba(277, 0, 0, 0.2);
}

#economy .articles article a {
    background-color: rgb(121, 0, 0);
}

#entretenimento {
    background-color: rgb(166, 26, 194 , 0.2);
}

#entretenimento .articles article a {
    background-color: blueviolet;
}

#tecnologia {
    background-color: rgba(223, 105, 8, 0.2);
}

#tecnologia .articles article a {
    background-color: orangered;
}